.logo h2 {
  color: #2e9853;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img{
  width: clamp(2.5rem, 5vw, 6rem);
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1vw;
  font-family: "Poppins";
  padding: 0 2vw;
}

.logo h2
{
    font-size: clamp(0.8rem, 3vw, 1.75rem);
}

.login{
  padding: 0.75vw 2.5vw;
  border-radius: 5rem;
  font-size: clamp(0.5rem, 3vw, 1.05rem);
  border: transparent;
  background-color: #2e9853;
  color: #f9f9f9 ;
}

    .login:hover {
      background-color: #267d45;
      transform: scale(1.03);
      letter-spacing: 1.1;
    }

.login a{
  text-decoration: none;
    font-size: clamp(0.5rem, 3vw, 1.05rem);
  color: #f9f9f9;
}